* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}

.abc {
    background-color: rgb(253,101,6);

 

    
}
.abc1 {
    color: white;
}
.abc2 {
    
    z-index: 1;
    border-radius: 25px;
    border: 0px;
    margin-top: 10px;
    padding: 15px 15px;
}
.abc3 {
    font-size: 25px;
    color: white;
 
}
.abc4 {

    color: white;
}
.abc10 {
    color: white;
}
.a30 {
    margin-top: 5px;
}

.abc5 {

    color:  white;
}
.abc6 {
    color: rgb(61, 61, 61);
    font-weight: 500;
}
.icon-bar {
    background-color: black;
    color: black;
}
.abc7 {
    color: rgb(253,101,6);
    margin-right: 5px;
}
.abc9 {
margin-top: px;
}
.abc10 {
position: relative;
right: 10px;

    
}
.abc11 {
    position: relative;
    right: 10px;

 
}

.abc13 {
    background-color: rgb(245,245,245);
}
.abc14 {
    color: white;
    background-color: rgb(253,101,6);
    padding: 5px;
}
.abc15 {
    border-bottom: 2px solid rgb(253,101,6);
}
.a {
    background-color: white;
}
.aa {
    font-size: 20px;
}
.aaa {
width: 150px !important;
margin-top: 15px;

}
.abc16 {
    width: 100%;
}
.owl-dots {
    text-align: center;
    margin-top: 20px;

}

.thumbnail {
    transition: all 0.3s linear !important;

    border: 0px !important;
}

.owl-dot {
    height: 10px;
    width: 35px;
    border:  2px solid black !important;
    border-radius: 20px;
    margin: 0 5px;
    transition: all 0,3s linear;
}
.owl-dot.active {
    background-color: black !important;
}
.abcd {
    color: rgb(253,101,6);
}
.a1 {
    margin-left: 29px;
}
.abc19 {
    width: 300px !important;
    height: 200px!important;
}
.a2  {
    border: 2px solid white !important;
    margin-left: 15px !important;
    margin-top: 10px;
    background-color: white;
    transition: all 0.5 ease;
}
.a3 {
    color: red;
    margin-left: 5px;
}
.a4 {
    border: 2px solid rgb(253,101,6);
    border-radius: 50px;
    width: 150px;
    text-align: center;
    margin-top: 10px;
    background-color: white;
    
}
.a4:hover {
    background-color: rgb(253,101,6);
    color: white;
}
.a5 {
    text-align: center;
    font-weight: bold;
    color: red;
}
.a6 {
    background-color: red;
    color: white;
    width: 100px;
    text-align: center;
    font-size: 20px;
    border: 0px;
    border-radius: 29px;
    margin-left: 300px;
    
}
.a7 {
    background-color: white;
}
.a8 {
    width: 120px;
    height: 50px;
}
.a9 {
    color: rgb(253,101,6);
}
.a10 {
    transition: all 0.3 linear !important;
    border: 0px !important;
}
.a10:hover {
    transform: scale(1.03);
    filter: brightness(0.95);

}
.a11 {
    width: 100%;
    margin-top: 10px;
}
.a12 {
    width: 100%;
    height: 500px;
   
}
.a13 {
    width: 100%;
    margin-top: 10px;
    transition: all 0.3 linear !important;
    border: 0px !important;
}
.a13:hover {
    filter: brightness(0.7);
}
.a14 {
    margin-top: 20px;
    
}
.a16 {
    width: 70px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(253,101,6);
    color: white;

}
.a17 {
    width: 70px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: red;
    color: white;

}
.a20 {
    margin-top: 10px;
} 
.a21 {
    margin-top: 10px;
}
.a21:hover {
    margin-top: 10px;
    transition: all 0.4s linear !important;
    box-shadow: 2px 2px 8px 0.7px black;
    transform: scale(1.03);
}
.a22 {
    position: relative;
    left: 50%;
    bottom: 20px;
}
.a23 {
    position: relative;
    top: 29px;
}
.a24 {
    margin-right: 13%;

}
.a25 {
    border: 2px solid rgb(253,101,6);
    border-radius: 50px;
    width: 110px;
    text-align: center;
    margin-top: 10px;
    background-color: white;
    padding: 5px;
}
.a25:hover {
    background-color: rgb(253,101,6);
    color: white;
}
.a26 {
    border: 2px solid rgb(253,101,6);
    border-radius: 50px;
    width: 150px;
    text-align: center;
    margin-top: 10px;
    background-color: white;
    padding: 5px;
    margin-left: 45%;
}
.a26:hover {
    background-color: rgb(253,101,6);
    color: white;
}
.a28 {
    color: gray;
    position: relative;
    left: 3%;
    top: auto;
    margin-top: 20px
}
